// -------------------------------------------------代码块-Rem Craft适配---------------------------------------------------
html[data-light-theme="Rem Craft"][data-dark-theme="Rem Craft"]
  .b3-typography .code-block, .protyle-wysiwyg .code-block
    background var(--zhi-code-tab-bg)

  .b3-typography .code-block .protyle-action .protyle-action__language
  .protyle-wysiwyg .code-block .protyle-action .protyle-action__language
    right 5rem
    top -0.1rem

  .protyle-linenumber__rows
    margin-top 0
    padding-top 8px

  .b3-typography .hljs.protyle-linenumber, .protyle-wysiwyg .hljs.protyle-linenumber
    margin-left 0